export(createAllSkyScatterPlotChart)
export(overplotScatterPlotInAllSkyGridChart)
export(createAllSkyGridChart)
importFrom("mapproj", "mapproject")
importFrom("RCEIM", "sortDataFrame","enforceDomainOnParameters", "overPlotErrorPolygon", "plotEliteDistrib")
importFrom("grDevices", "dev.new", "rgb")
importFrom("graphics", "grid", "lines", "par", "plot", "points", "strwidth", "text")
importFrom("stats", "na.omit", "rnorm", "runif", "sd")
importFrom("utils", "combn")
